extends layout
block aggrement_page_css_link
    link(rel='stylesheet' href="/bootstrap/css/font-awesome.min.css")
    link(rel='stylesheet' href='/bootstrap/css/common_styles.css')
    link(rel='stylesheet' href='/bootstrap/css/agreement-view.css')
block inline_css

block content
    .container-fluid
        .row
            .col-xs-8.col-sm-8.col-md-8.col-lg-8(style='margin-top: 10px;')
                if(isSessionMessage)
                    .alert.c-alert-msg(class=isSessionMessage.class)
                        strong #{isSessionMessage.msg}
                .panel.panel-info
                    div.aggreement-heading 
                        div(style='display: inline-block; vertical-align: middle;')
                            div(style="display:inline-block;vertical-align: middle; margin-right: 2rem;")
                                i.fa.fa-hourglass-start.fa-2x
                            div(style="display:inline-block;vertical-align: middle;")
                                span(style='display: inline-block; margin-bottom: 0.5rem;') You are about to start the exam  
                                br
                                span #{test_info.exam_info.test_name}

                        div(style="display:inline-block; vertical-align: middle; float: right; margin-top: 4px;")
                            span(style="display:inline-block; vertical-align: middle;") View Instruction Set ::&nbsp;
                            span(style='display:inline-block; vertical-align: center;')
                                select(style="display:inline-block; vertical-align: middle;" onchange="setAgreementTestLang(this,event)")
                                    option(value="eng") English 
                                    option(value="mar") मराठी 
                    .panel-body

                        #english.col-xs-12.col-sm-12.col-md-12.col-lg-12.set-bor(style='margin-top: 9px; padding: 1rem 3rem;')
                            h2.instruction-heading Important Instructions&nbsp;:&nbsp;-
                            ol
                                li Candidates must not carry calculators, analog watches, electronic watches, mobile phones, Bluetooth devices, pagers, or any similar electronic gadgets to the examination center premises.
                                li Leaving the Examination Hall is strictly prohibited from the beginning of the exam until its conclusion
                                li Candidates have been provisionally admitted to the examination based on the information provided in the application form. If any discrepancy or false information is found at any stage, the candidature will be cancelled and the candidate will be held solely responsible. 
                                li The signatures on the admit card, attendance sheet, and application form will be cross-verified. Any discrepancy may lead to disqualification.
                                li Misconduct or misbehavior at the examination center will invite legal action under applicable rules.

                            hr    
                            h2.instruction-heading General Instructions&nbsp;:&nbsp;-
                            ol

                                li  Total duration of the examination&nbsp;:&nbsp;-
                                    strong &nbsp;#{test_info.exam_info.test_duration}.
                                li 	Total number of questions&nbsp;:&nbsp;-
                                    strong &nbsp;#{test_info.exam_info.test_total_question} 
                                li  Marks for each correct answer&nbsp;:&nbsp;-
                                    strong &nbsp;#{test_info.exam_info.test_mark_per_q}
                                li  Total marks&nbsp;:&nbsp;-
                                    strong &nbsp;#{test_info.exam_info.test_total_marks}

                                -const mt_is_negative = test_info.exam_info.mt_negativ_mark;
                                if(mt_is_negative)
                                    li  Negative Marking&nbsp;:&nbsp;-
                                        strong #{test_info.exam_info.mt_negativ_mark}
                                        | &nbsp;mark will be deducted for every incorrect response.
                                else
                                    li
                                        strong No marks will be deducted for unanswered questions.

                                li The countdown timer on the top-right corner of the screen will display the remaining time. The test will auto-submit once the time expires.
                                li The Question Palette will help you track the status of each question: Not Answered, Answered, Marked for Review, and Answered & Marked for Review
                                    ol
                                        li
                                            img(src="/img/exam_icon/visited_sq.png")
                                            span  You have not answered the question.
                                        li
                                            img(src="/img/exam_icon/correct_sq.png")
                                            span  You have answered the question.
                                        li
                                            img(src="/img/exam_icon/mark_review_sq.png")
                                            span  You have marked question for review.
                                        li
                                            img(src="/img/exam_icon/ans_mark_for_review_sq.png")
                                            span  You have answered and marked question for review.
                                    
                                li Click on the question number to navigate. Use 'Save & Next' to save your answer and move to the next question.

                                li To select an answer, click the corresponding option button.

                            hr
                            h2.instruction-heading System and Technical Instructions&nbsp;:&nbsp;-
                            ol
                                li Do not close or minimize the exam window during the examination
                                li In case of any technical issues such as system restart or shutdown, immediately inform the invigilator. Your answers and exam progress will be saved automatically.
                                li Do not attempt to open any other software, window, or browser tab during the exam
                                li Tampering with the system or using unauthorized software or extensions will result in immediate disqualification 

                            hr
                            h2.instruction-heading Use of Rough Sheet&nbsp;:&nbsp;-
                            ol
                                li Rough sheets will be provided at the examination center.
                                li Candidates must write their Name, Roll Number, Registration Number, Exam Date, and Batch Time on each sheet used.
                                li All rough sheets, used or unused, must be returned to the invigilator before leaving the examination hall. Failure to do so will be treated as a violation of exam rules. 

                            hr
                            h2.instruction-heading Prohibited Activities and Misconduct&nbsp;:&nbsp;-
                            p The following actions are strictly prohibited and will result in immediate disqualification and possible legal action:
                            ol
                                li Impersonation or appearing in place of another candidate
                                li Attempting to give or receive assistance in any form
                                li Using mobile phones, smartwatches, Bluetooth devices, or any communication tools. 
                                li Taking screenshots, photographs, or making any recordings of the exam content.
                                li Accessing unauthorized material or websites during the examination.
                                li Using foul language, misbehaving, or arguing with the examination staff.
                                li Threatening or intimidating invigilators or other candidates.
                                li The Examination Superintendent is authorized to expel any candidate found guilty of misconduct. Such candidates will be required to provide a written explanation and may be barred from future examinations.


                            hr
                            h2.instruction-heading Strict Prohibitions&nbsp;:&nbsp;-
                            ol 
                                li Chewing tobacco, consuming betel, or using intoxicating substances is strictly prohibited within the exam center premises.
                                li Possession or use of mobile phones, cameras, or similar electronic devices inside the examination center is strictly forbidden.
                                li Any form of malpractice will lead to immediate cancellation of candidature.
                            
                            p Candidates are advised to read all instructions carefully and comply fully. Non-compliance may lead to disqualification and/or legal consequences.

                        #marathi.hide.col-xs-12.col-sm-12.col-md-12.col-lg-12.set-bor(style='margin-top: 9px; padding: 1rem 3rem;')
                            h2.instruction-heading महत्वाच्या सूचना&nbsp;:&nbsp;-
                            ol
                                li उमेदवारांनी कॅल्क्युलेटर, घड्याळे, इलेक्ट्रॉनिक घड्याळे, मोबाइल फोन, ब्लूटूथ डिव्हाइसेस, पेजर किंवा अशा कोणत्याही इलेक्ट्रॉनिक उपकरणांसह परीक्षा केंद्रात प्रवेश करू नये.
                                li परीक्षा सुरू झाल्यानंतर ते संपेपर्यंत परीक्षा हॉलमधून बाहेर जाणे कडकपणे मनाई आहे.
                                li उमेदवारांना अर्जामध्ये दिलेल्या माहितीनुसार तात्पुरत्या स्वरूपात परीक्षेस बसण्याची परवानगी देण्यात आली आहे. कोणतीही माहिती खोटी किंवा चुकीची आढळल्यास उमेदवारी रद्द केली जाईल आणि संपूर्ण जबाबदारी उमेदवाराची असेल.
                                li प्रवेशपत्र, हजेरीपत्रक आणि अर्जावर केलेले स्वाक्षऱ्या पडताळण्यात येतील. स्वाक्षरीत विसंगती आढळल्यास उमेदवारी रद्द केली जाईल.
                                li परीक्षास्थळी गैरवर्तन किंवा गैरवर्तणूक केल्यास लागू असलेल्या कायद्यांनुसार कारवाई केली जाईल.


                            hr    
                            h2.instruction-heading सामान्य सूचना&nbsp;:&nbsp;-
                            ol

                                li  परीक्षेची एकूण वेळ&nbsp;:&nbsp;-
                                    strong &nbsp;#{test_info.exam_info.test_duration}.
                                li 	एकूण प्रश्नांची संख्या&nbsp;:&nbsp;-
                                    strong &nbsp;#{test_info.exam_info.test_total_question} 
                                li  प्रत्येक बरोबर उत्तरासाठी गुण&nbsp;:&nbsp;-
                                    strong &nbsp;#{test_info.exam_info.test_mark_per_q}
                                li  एकूण गुण&nbsp;:&nbsp;-
                                    strong &nbsp;#{test_info.exam_info.test_total_marks}

                                -const _mt_is_negative = test_info.exam_info.mt_negativ_mark;
                                if(_mt_is_negative)
                                    li  नकारात्मक गुण&nbsp;:&nbsp;-
                                        | लागू असल्यास प्रत्येक चुकीच्या उत्तरासाठी 
                                        strong #{test_info.exam_info.mt_negativ_mark} 
                                        | &nbsp;गुण वजा केले जातील.
                                else
                                    li उत्तर न दिल्यास कोणतेही गुण वजा केले जाणार नाहीत.

                                li स्क्रीनच्या वरच्या उजव्या बाजूला वेळेचा काऊंटडाऊन टायमर दिसेल. वेळ संपल्यानंतर परीक्षा आपोआप सबमिट होईल.
                                li प्रश्न पॅलेटद्वारे प्रत्येक प्रश्नाची स्थिती ओळखता येईल: उत्तर न दिलेले, उत्तर दिलेले, पुनरावलोकनासाठी चिन्हांकित, उत्तर दिलेले आणि पुनरावलोकनासाठी चिन्हांकित.
                                li प्रश्न पॅलेटद्वारे प्रत्येक प्रश्नाची स्थिती ओळखता येईल
                                    ol
                                        li
                                            img(src="/img/exam_icon/visited_sq.png")
                                            span &nbsp;उत्तर न दिलेले (You have not answered the question.)
                                        li
                                            img(src="/img/exam_icon/correct_sq.png")
                                            span &nbsp;उत्तर दिलेले (You have answered the question.)
                                        li
                                            img(src="/img/exam_icon/mark_review_sq.png")
                                            span &nbsp;पुनरावलोकनासाठी चिन्हांकित (You have marked question for review.)
                                        li
                                            img(src="/img/exam_icon/ans_mark_for_review_sq.png")
                                            span &nbsp;उत्तर दिलेले आणि पुनरावलोकनासाठी चिन्हांकित (You have answered and marked question for review.)

                                li प्रश्न क्रमांकावर क्लिक करून आपण प्रश्नांमध्ये जाऊ शकता. ‘सेव्ह व पुढे’ वर क्लिक केल्यास उत्तर जतन होईल आणि पुढील प्रश्न दिसेल.
                                li उत्तर निवडण्यासाठी संबंधित पर्यायावर क्लिक करा.
                                    

                            hr
                            h2.instruction-heading सिस्टम व तांत्रिक सूचना&nbsp;:&nbsp;-
                            ol
                                li परीक्षेदरम्यान परीक्षा विंडो बंद करू नये किंवा मिनिमाइझ करू नये.
                                li संगणक रिस्टार्ट किंवा शटडाऊन झाल्यास त्वरित पर्यवेक्षकाला माहिती द्यावी. तुमची उत्तरं आणि परीक्षेची प्रगती स्वयंचलितरित्या जतन केली जाईल.
                                li परीक्षेदरम्यान इतर कोणताही सॉफ्टवेअर, विंडो किंवा ब्राउझर टॅब उघडण्याचा प्रयत्न करू नका.
                                li सिस्टीममध्ये छेडछाड करणे किंवा अनधिकृत सॉफ्टवेअर/एक्स्टेंशनचा वापर केल्यास उमेदवारी रद्द केली जाईल.

                            hr
                            h2.instruction-heading रफ शीटचा वापर&nbsp;:&nbsp;-
                            ol
                                li गणिते सोडविण्यासाठी परीक्षा केंद्रात रफ शीट्स दिल्या जातील.
                                li प्रत्येक रफ शीटवर उमेदवाराचे नाव, क्रमांक, नोंदणी क्रमांक, परीक्षा दिनांक आणि बॅच वेळ लिहिणे बंधनकारक आहे.
                                li सर्व रफ शीट्स (वापरलेल्या किंवा न वापरलेल्या) परीक्षा संपल्यानंतर निरीक्षकाकडे जमा कराव्यात. तसे न केल्यास परीक्षेच्या नियमांचे उल्लंघन समजले जाईल.


                            hr
                            h2.instruction-heading प्रतिबंधित क्रिया आणि गैरवर्तन&nbsp;:&nbsp;-
                            p खालील कृती केल्यास उमेदवारी तत्काळ रद्द केली जाईल व कायदेशीर कारवाई केली जाऊ शकते:
                            ol
                                li दुसऱ्याच्या नावाने परीक्षा देणे.
                                li कोणत्याही प्रकारे मदत घेणे किंवा देण्याचा प्रयत्न करणे.
                                li मोबाइल फोन, स्मार्टवॉच, ब्लूटूथ किंवा इतर संवाद साधणारी उपकरणे वापरणे.
                                li प्रश्नपत्रिका किंवा उत्तरांचे स्क्रीनशॉट, फोटो काढणे किंवा कोणतीही रेकॉर्डिंग करणे.
                                li परीक्षेदरम्यान अनधिकृत वेबसाइट्स किंवा माहिती वापरणे.
                                li अपशब्द वापरणे, गैरवर्तन करणे किंवा परीक्षेच्या कर्मचाऱ्यांशी वाद घालणे.
                                li निरीक्षकांना धमकावणे किंवा त्यांना त्रास देणे.
                            p परीक्षा अधीक्षकास गैरवर्तन करणाऱ्या उमेदवारास परीक्षा हॉलमधून बाहेर काढण्याचा पूर्ण अधिकार आहे. अशा उमेदवारास लेखी स्पष्टीकरण द्यावे लागेल आणि भविष्यातील परीक्षेस प्रतिबंध लावला जाऊ शकतो.
                            


                            hr
                            h2.instruction-heading कडक बंदी&nbsp;:&nbsp;-
                            ol 
                                li तंबाखू किंवा सुपारी सेवन करणे, मद्यपान करणे परीक्षा केंद्र परिसरात पूर्णतः बंदी आहे.
                                li मोबाइल फोन, कॅमेरा किंवा तत्सम उपकरणे परीक्षा केंद्रात आणणे किंवा वापरणे पूर्णतः निषिद्ध आहे.
                                li कोणत्याही प्रकारचा गैरप्रकार आढळल्यास उमेदवारी तत्काळ रद्द केली जाईल.
                            
                            p सर्व उमेदवारांनी सर्व सूचना काळजीपूर्वक वाचाव्यात आणि पूर्णतः पालन करावे. नियमभंग केल्यास उमेदवारी रद्द होऊ शकते व कायदेशीर कारवाई होऊ शकते.





                        //- old marathi
                        //- #marathi.hide.col-xs-12.col-sm-12.col-md-12.col-lg-12.set-bor(style='margin-top: 9px; padding: 1rem 3rem;')
                            h2.instruction-heading महत्वाच्या सूचना&nbsp;:&nbsp;-
                            ol
                                li  उमेदवारांनी कॅल्क्युलेटर, इलेक्ट्रानिक वॉच, ब्ल्युटूथ, मोबाईल फोन, 
                                    |पेजर अथवा अन्य साहित्य किंवा इतर कोणत्याही प्रकारचे कागदपत्रे परीक्षा केंद्राच्या आवारात आणू नयेत.
                                li  परीक्षा सुरू झाल्यापासून परीक्षा संपेपर्यंत कोणालाही परीक्षा हॉलमधून बाहेर जाता येणार नाही.
                                li  उमेदवारांने भरलेल्या अर्जातील सर्वं माहिती बरोबर आहे, असे गृहित धरून उमेदवारास सदर परीक्षेसाठी प्रवेश पत्र 
                                    |देवून त्यास तात्पुरता प्रवेश देण्यात आलेला आहे. उमेदवारांने अर्जाव्दारे भरलेली माहिती कोणत्याही टप्प्यावर चुकीची 
                                    |अगर खोटी आढळून आल्यास उमेदवाराची उमेदवारी रद्द होईल व होणार्या परिणामास उमेदवार स्वत: जबाबदार राहील. 
                                li  उमेदवाराने या प्रवेशपत्रावर केलेली स्वाक्षरी, परीक्षेच्या वेळी उपस्थित पत्रकावर केलेली स्वाक्षरी व अर्जामध्ये केलेली स्वाक्षरी ही बरोबर 
                                    |असल्याची खातरजमा केली जाईल. त्यात तफावत आढळून आल्यास त्याची उमेदवारी कोणत्याही टप्प्यावर रद्द होईल.
                                li  परीक्षा केंद्रावर कोणत्याही उमेदवाराने गैरवर्तणूक केल्यास उचित कायद्यानुसार कार्यवाही करण्यात येईल.
                                //- li
                                //-     strong.text-danger  चेतावणी : एकदा दिलेले उत्तर कुठल्याही परिस्थितीत बदलता येणार नाही.
                            hr
                            h2.instruction-heading सामान्य सूचना: - 
                            ol

                                li परीक्षेचा एकूण कालावधी 
                                    strong  #{test_info.exam_info.test_duration}
                                    |&nbsp;आहे.
                                li 
                                    |परीक्षेसाठी   
                                    strong एकूण #{test_info.exam_info.test_total_question} 
                                    | प्रश्न असतील.
                                li 
                                    |प्रत्येक प्रश्नाला योग्य उत्तरासाठी  
                                    strong #{test_info.exam_info.test_mark_per_q}
                                    | &nbsp;गुण दिले आहेत.
                                li
                                    | परीक्षेसाठी एकूण गुण :&nbsp;
                                    strong #{test_info.exam_info.test_total_marks}
                                li
                                    | प्रत्येक प्रश्नाच्या अचूकतेसाठी उमेदवारांना सूचना 
                                    strong  क्रमांक 3
                                    |&nbsp; मध्ये नमूद केल्याप्रमाणे गुण देण्यात येतील.

                                if(mt_is_negative)
                                    li प्रत्येक चुकीच्या प्रतिसादासाठी 
                                        strong #{test_info.exam_info.mt_negativ_mark}
                                        strong &nbsp; गुण वजा केला जाईल.
                                else
                                    li प्रत्येक प्रश्नास चुकीचे उत्तर दर्शविल्यास कोणतेही गुण वजा केले जाणार नाहीत.
                                        strong गुण वजा केले जाणार नाहीत.

                                li  कोणताही प्रतिसाद न दिल्यास एकूण स्कोअरमधून 
                                    strong कोणतीही कपात केली जाणार नाही.

                                li सर्व्हरवर घड्याळ सेट केले जाईल. स्क्रीनच्या वरच्या उजव्या कोपर्‍यातील काउंटडाउन टाइमर आपल्याला परीक्षा पूर्ण करण्यासाठी उर्वरित वेळ दर्शवेल. जेव्हा टायमर शून्यावर पोहोचेल तेव्हा परीक्षा स्वतःच संपेल. आपल्याला आपली परीक्षा संपविण्याची आवश्यकता नाही.
                                li स्क्रीनच्या उजव्या बाजूला दर्शविलेले प्रश्न पॅलेट खालीलपैकी एक चिन्ह वापरून प्रत्येक प्रश्नाची स्थिती दर्शवेल:
                                    ol
                                        li
                                            img(src="/img/exam_icon/visited_sq.png")
                                            span  आपण प्रश्नाचे उत्तर दिले नाही.
                                        li
                                            img(src="/img/exam_icon/correct_sq.png")
                                            span  आपण प्रश्नाचे उत्तर दिले आहे.

                                        li
                                            img(src="/img/exam_icon/mark_review_sq.png")
                                            span  तुम्ही प्रश्न पुनरावलोकनासाठी चिन्हांकित केला आहे.
                                        li
                                            img(src="/img/exam_icon/ans_mark_for_review_sq.png")
                                            span  तुम्ही प्रश्नाचे उत्तर दिले आहे आणि तो पुनरावलोकनासाठी चिन्हांकित केला आहे.

                                li
                                    ol
                                        li(style="color:red") एखाद्या प्रश्नाचे उत्तर देण्यासाठी, पुढील गोष्टी करा: 
                                            ol(style="color:black")
                                                li त्या क्रमांकित प्रश्नावर थेट जाण्यासाठी आपल्या स्क्रीनच्या उजवीकडील प्रश्न पॅलेटमधील प्रश्न क्रमांकावर क्लिक करा. लक्षात ठेवा की हा पर्याय वापरल्याने आपले वर्तमान प्रश्नाचे उत्तर जतन होणार नाही.
                                                li आपले उत्तर जतन करण्यासाठी सेव्ह आणि नेक्स्ट 
                                                    strong.text-success सेव्ह आणि नेक्स्ट
                                                    |  वर क्लिक करा आणि मग पुढच्या प्रश्नावर जा.

                                        li(style="color:red") प्रश्नाचे उत्तर देण्याकरिता :
                                            ol(style="color:black")
                                                li आपले उत्तर निवडण्यासाठी, पर्यायांपैकी एका बटणावर क्लिक करा.

                                li
                                    strong 
                                        p परीक्षा विंडो बंद करू नका किंवा परीक्षा केंद्रात सिस्टम रीस्टार्ट करण्याचा प्रयत्न करू नका.
                                    strong    
                                        p कोणत्याही उमेदवारांनी  कॉपी करण्याचा प्रयत्न केला किंवा संदर्भित आढळले किंवा कोणतीही छापील / हस्तलिखित सामग्री, नोट्स, पुस्तके, मोबाइल फोन किंवा कोणत्याही इलेक्ट्रॉनिक डिव्हाइस इत्यादी जवळ असल्याचे आढळले किंवा कोणत्याही प्रकारे एखाद्या व्यक्तीस मदत केली किंवा मदत मागितली किंवा संप्रेषण करुन शब्द, चिन्हे, जेश्चर, कोड आणि इतर समान कृती, परीक्षा हॉलमध्ये संबंधित माहितीची देवाणघेवाण, प्रभाव किंवा संपादन करण्यासाठी परीक्षेतील अनुचित मार्ग अवलंबल्यासारखे मानल्या जातील. नियमांनुसार त्यांच्यावर कठोर कारवाई केली जाईल.

                                //- li
                                //-     strong.text-danger
                            hr
                            div(style='margin-top: 3px;')
                                strong रफ शीट वापरण्याबद्दल: -
                            ol
                                li परीक्षेच्या वेळी उमेदवारांना रफ काम, गणिते वगैरे करण्यासाठी रफ शीट देण्यात येईल. उमेदवारांनी आपले नाव, रोल नंबर, नोंदणी क्रमांक, परीक्षेची तारीख आणि बॅच टाइम रफ शीट वर नमूद करणे आवश्यक आहे.
                                li परीक्षा हॉल / कक्ष / लॅब सोडण्यापूर्वी रफ शीट परिवेक्षक कडे परत देणे आवश्यक आहे. उमेदवारांना परीक्षा हॉल / कक्ष / लॅब सोडताना वापरलेली / न वापरलेली रफ शीट नेण्याकरिता परवानगी दिली जाणार नाही.
                            hr
                            div(style='margin-top: 3px;')
                                strong परीक्षा हॉल / कक्ष / लॅबमध्ये शिस्त राखणे: - 
                                p(style="color:red;") उमेदवारांनी विविध लेखी / तोंडी सूचनांचे काटेकोरपणे पालन करावे व परीक्षा हॉल / कक्ष / लॅबमध्ये शिस्त राखली पाहिजे. उमेदवार खालीलपैकी कोणत्याही कारणास्तव परीक्षेमधून पदच्युत / अपात्र ठरले जाऊ शकतात:
                            ol
                                li दुसर्‍याच्या वतीने परीक्षा देण्याचा प्रयत्न करीत आहे.
                                li परीक्षेच्या वेळी कोणत्याही प्रकारची मदत देणे किंवा प्राप्त करणे किंवा इतर उमेदवारांशी किंवा बाहेरील लोकांशी कोणत्याही प्रकारे संप्रेषण करणे.
                                li संगणक प्रणालीत छेडछाड करणे / छेडछाड करण्याचा प्रयत्न करणे किंवा परीक्षेच्या सुरळीत चालण्यात अडथळा निर्माण करणे.
                                li इनविजिलेटरच्या परवानगीशिवाय परीक्षा केंद्र सोडणे.
                                li परीक्षेच्या आवारात / कक्ष / हॉल / लॅबमध्ये प्रतिबंधित वस्तूंचा वापर करणे किंवा मोबाइल / सेल्युलर फोन, आय-पॅड, पामटॉप, पेजर, पुस्तके, अभ्यासाची सामग्री, छापील किंवा हस्तलिखित नोट्स, कागदाचे तुकडे, इलेक्ट्रॉनिक डायरी, वैज्ञानिक कॅल्क्युलेटर, अलार्म पहा, स्मार्ट घड्याळे, ब्लूटूथ, हँड बँड, ऐकण्याचे उपकरणे आणि रेकॉर्डिंग किंवा छायाचित्रण उपकरणे किंवा कोणत्याही प्रकारचे संप्रेषण डिव्हाइस / गॅझेट इ.
                                li परीक्षा केंद्रातून परीक्षा प्रश्न किंवा परीक्षा प्रतिसाद (कोणत्याही स्वरूपात) कॉपी करण्याचा प्रयत्न करणे.
                                li परीक्षेच्या आधी किंवा दरम्यान उमेदवारांनी गैरवर्तन केले.
                                li परीक्षेच्या आधी, दरम्यान किंवा नंतर उमेदवाराने इनविजिलेटरवर गैरवर्तन करणे इ.

                                strong.text-danger उमेदवारांकडून होणाऱ्या कोणत्याही गैरप्रकारांचे निरीक्षण केल्यावर परीक्षा अधीक्षकांना परीक्षा केंद्रातून काढून टाकण्याचा अधिकार आहे. यातून हद्दपार झालेल्या उमेदवाराने परीक्षा हॉल सोडण्यापूर्वी, त्याचे स्पष्टीकरण अधीक्षक परीक्षेद्वारे लेखी स्वरूपात संस्थेला सादर केले पाहिजे. एकदा उमेदवाराला हद्दपार केल्यावर त्याला परीक्षेच्या उर्वरित पेपरमध्ये हजर राहू दिले जाऊ शकत नाही.
                            center
                                strong.text-warning धुम्रपान, टोबॅको, मोबाइल फोन पूर्णपणे परीक्षा हॉल / रूम / लॅब / केंद्रामध्ये बंदी घातली आहे
                            hr    
                            div(style='margin-top: 3px;')
                        .clearfix
                        h4(style="margin-left:30px;color:red") 
                            p 
                                strong#imp_note(style='letter-spacing: 0.5px; font-weight: 600;') Note: In case of difficulty due to technical reasons before   or after the examination is started, the candidate will be given the next time / date.
                        .checkbox(style='margin-left: 4.5%')
                        label
                            input#is_agree(type='checkbox' value='' style="width:30px; height:30px;")
                            strong#imp_i_agree_text(style="letter-spacing: 0.5px; font-weight: 600; font-size: 1.6rem; line-height: 2") &nbsp;&nbsp;I have read and understood the instructions. All computer hardware allotted to me are in proper working condition. I declare  that I am not in possession of / not wearing / not  carrying any prohibited gadget like mobile phone, bluetooth  devices  etc. /any prohibited material with me into the Examination Hall.I agree that in case of not adhering to the instructions, I shall be liable to be debarred from this Exam and/or to disciplinary action, which may include ban from future Tests / Examinations.
                        .col-xs-12.col-sm-12.col-md-12.col-lg-12
                            center
                                a.button1.button1--agree(href="/confirmtion" onclick='hideMe(this,event)')
                                    i.fa.fa-paper-plane  
                                    |&nbsp; I agree and ready to begin
                                a.button1.button1--agree.c_approveing.hide(href='javascript:void(0)' )
                                    i.fa.fa-spinner.fa-spin
                                    |&nbsp;Approving your request .....
            .col-xs-4.col-sm-4.col-md-4.col-lg-4(style='margin-top: 10px;')
                .panel.panel-info(style="position: fixed;width: 30%;")
                    div.candidate-info-heading Candidate Information
                    .panel-body
                        if(stud_info.sl_image != '0')
                            - var link = '/pics/'+stud_info.sl_image
                            img.img-responsive(src=link, alt=stud_info.sl_f_name style="width:100px;height:100px;margin:auto")
                        else
                            img.img-responsive(src="img/default.jpg" alt=stud_info.sl_f_name style="width:100px;height:100px;margin:auto")
                        div.student-info-box
                            h5 Roll No: #{stud_info.sl_roll_number}
                            h5 Name: #{stud_info.sl_f_name} #{stud_info.sl_m_name} #{stud_info.sl_l_name}
                            h5 Post: #{stud_info.sl_post}

block inline_js
    script(type='text/javascript').
        var lang = 'eng';
        function timeOut() {
            setTimeout(function () {
                $('.c-alert-msg').slideUp(750);
            }, 3000);
        }

        timeOut();
        function hideMe(_this, event) {
            if ($('#is_agree').prop('checked') == false) {
                $('#is_agree').siblings('strong').css('color', 'red');
                $('#is_agree').siblings('strong').hide(200).show(200);
                event.preventDefault();
                return false;
            } else {
                $(_this).addClass('hide');
                $('.c_approveing').removeClass('hide');
            }
        }
        $('#is_agree').on('click', function (e) {
        $('#is_agree').siblings('strong').css('color', 'black');
        });
        function setAgreementTestLang(_this,event){
            if($(_this).val() == 'eng') 
            {   
                $('#imp_note').html('Note: In case of difficulty due to technical reasons before   or after the examination is started, the candidate will be given the next time / date.');
                $('#marathi').addClass('hide');
                $('#english').removeClass('hide');
            }else{
                $('#imp_note').html('नोट : परिक्षा सुरू झाल्यानंतर किंवा अगोदर काही तांत्रिक कारणामुळे अडचन आल्यास उमेदवारास पुढील वेळ/तारीख देण्यात येईल.');
                $('#marathi').removeClass('hide');
                $('#english').addClass('hide');
            }
        }